* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.causes{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.causes-paragraph{
  background-color: grey;
  margin: 2.5%;
}

.causes-title{
  color: green;
}