* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.header-section-mountain {
  width: 100vw;
  height: 100vh;
}

header {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
}

.header-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header-container li {
  float: left;
}

.header-container li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 36px;
  text-decoration: none;
  font-size: 2em;
  color: white;
}

.header-container li a:hover {
  background-color: #111;
  color: white;
}

.header-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.header-section-hole,
.header-section-mountain,
.header-section-earth {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header-section-mountain {
  transform: translateZ(-20px) scale(4);
}

.header-section-hole {
  transform: translateZ(-10px) scale(2);
  z-index: 1;
  height: auto;
  width: 50%;
  top: 0;
}

.header-section-earth {
  transform: translateZ(-5px) scale(1.5);
  z-index: 2;
  height: auto;
  width: 15%;
}

.header-section h1 {
  z-index: 3;
  color: white;
  font-size: 6em;
}

.about-container,
.types-section {
  margin: 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about ul {
  list-style-type: circle;
  padding-left: 20px;
}

.about li {
  font-size: 18px;
  margin: 5px 0;
}
